[submodule "Debugsock"]
	path = Debugsock
	url = https://github.com/zonbrisad/Debugsock.git
[submodule "bashplates"]
	path = bashplates
	url = https://github.com/zonbrisad/bashplates.git
[submodule "pyplate"]
	path = pyplate
	url = https://github.com/zonbrisad/pyplate.git
[submodule "mTerm"]
	path = mTerm
	url = https://github.com/zonbrisad/mTerm.git
[submodule "makeplates"]
	path = makeplates
	url = https://github.com/zonbrisad/makeplates.git
[submodule "pmg_settings"]
	path = pmg_settings
	url = https://github.com/zonbrisad/pmg_settings.git
[submodule "luaconf"]
	path = luaconf
	url = https://github.com/zonbrisad/luaconf.git
[submodule "Tester"]
	path = Tester
	url = https://github.com/zonbrisad/Tester.git
[submodule "LEF"]
	path = LEF
	url = https://github.com/zonbrisad/LEF.git
